	
    #secup {
      background-color: #006666;
      height: 65px;
      font-size: 24px;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    #secmid {
      background-color: white;
      font-size: 24px;
      color: #006666;
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
    }

    #secbutton
{
	background-color: #F9AC50;
	color: white;
	width: 150px;
	height: 40px;
        font-size: 24px;
	padding: 10px;
}		    
#down { 
  position: absolute;
  left: 0px;
  bottom:0px;
}    
